@import "./styles/tokens.css";
@import "./styles/layouts.css";
@import "./styles/components.css";
@import "./styles/stage.css";
@import "./styles/screens/lobby.css";
@import "./styles/screens/createCharacter.css";
@import "./styles/screens/selectCharacter.css";
@import "./styles/screens/gm-home.css";


html, body, #root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}
