.stage { --curtain-overlap: 60px; }
.stage.logged { --curtain-overlap: 0px; }

.stage{
  position:relative;
  width:100vw;
  height:100vh;
  overflow:hidden;
}

.valance{
  position:absolute;
  top:0; left:0;
  width:100%;
  z-index:3;
}

.curtain{
  position:absolute;
  top:0;
  height:100%;
  width:calc(50% + var(--curtain-overlap));
  transition:width 1s ease, transform 1s ease;
  z-index:1;
}

.curtain.left{ left:0; }
.curtain.right{ right:0; }

.stage.logged{
  --curtain-overlap: 0px;
}
.stage.logged .curtain{
  width:20%;
}

.center{
  position:relative;
  z-index:2;
  height:100%;
  display:grid;
  animation:menuRise 700ms ease-out both;
}

@keyframes menuRise{
  from{ transform:translateY(60px); opacity:0; }
  to{ transform:translateY(0); opacity:1; }
}

.backstage{
  position:absolute;
  right:0;
  bottom:0;
  width:auto;
  z-index:2;
  pointer-events:none;
  max-height:80vh;
  max-width:100%;
  object-fit:contain;

  animation: backstageRise 2000ms cubic-bezier(.2,.9,.2,1) both;
}
@keyframes backstageRise{
  from{ transform:translateY(100%); opacity:0; }
  to{ transform:translateY(0); opacity:1; }
}


.center--modal{ display:grid; place-items:center; }
.center--app{
  position:relative;
  height:100%;
  padding-top:220px;
  padding-left:28px;
  box-sizing:border-box;
}



